extends layout

block body
  .content.blog
    .container
      .row.tasks
        .offset2.span8
          each item in articles
            .task
              h6
                a(href="#{item.url}")= item.title

              .tmeta
                - var pubdate = item.date.toMoment()
                - var datetimeFormat = pubdate.format('YYYY-MM-DDTHH:mm')
                - var humanFormat = pubdate.format('DD.MM.YYYY HH:mm')
                i.icon-calendar
                | #{humanFormat}
