extends layout

block head
	script.
		(function() {
			var cx = '011156155488071111654:7khb-izcdy4';
			var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			    '//www.google.com/cse/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
		})();

block body
	div(class="row")
    	div(class="span12")
    		| <gcse:search></gcse:search>