extends layout

block body
.content
    .container
        div(class="row")
            div(class="span12").
                I am developer in Buenos Aires working for Tellago Studios in pretty cool projects.